// Footer
footer.m_footer
  .wrapper
    .column
      .copyright ПКС «Деревянный стандарт» — 2016
      .address Санкт-Петербург, название улицы, дом 51, корп.,1
      .phones
        .label Телефоны:
        .value 8 (800) 2000-600, 8 (812) 300-20-20
      .sharing
        .label Мы в соц. сетях:
        script(src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js")
        script(src="//yastatic.net/share2/share.js")
        div(class="ya-share2" data-services="collections,vkontakte,facebook,odnoklassniki,moimir")
      form.global-search
        input(type="text" placeholder="Поиск по сайту")
        button(type="submit") OK
      .developed Разработка сайта <a href="#">«Пикмедиа»</a>
    .column
      nav
        .title Проекты
        ul
          li: a(href="#") Дома пятистенки 5х6 из бруса
          li: a(href="#") Дома 5 на 5 каркасные
          li: a(href="#") Коттеджи из бруса от 200 кв.м
          li: a(href="#") Садовые дома
          li: a(href="#") Бани
          li: a(href="#") Дома пятистенки 5х6 из бруса
          li: a(href="#") Дома 5 на 5 каркасные
          li: a(href="#") Коттеджи из бруса от 200 кв.м
          li: a(href="#") Садовые дома
          li: a(href="#") Бани
    .column
      nav
        .title Компания
        ul
          li: a(href="#") О компании
          li: a(href="#") Отзывы клиентов
          li: a(href="#") Новости
          li: a(href="#") Технологии
          li: a(href="#") Отделка
          li: a(href="#") Видео
          li: a(href="#") Онлайн видео с объектов
          li: a(href="#") Контакты
    .column
      nav
        .title  &nbsp;
        ul
          li: a(href="#") Акции
          li: a(href="#") Материнский капитал
          li: a(href="#") Оплата и доставка
          li: a(href="#") Реализованные проекты
          li: a(href="#") Карта реализованных проектов
