.m_lead-pluses
  padding 50px 0
  background url("../images/wood-background.jpg") repeat 0 0
  text-align center
  html.no-touchevents &
    background-attachment fixed
  .title
    font-weight bold
    font-size 16px
    text-transform uppercase
    @media SM
      font-size 14px
    @media MD
      font-size 16px
    @media LG
      font-size 20px
  .column
    display inline-block
    vertical-align top
    width 49%
    padding-bottom 20px
    @media screen and (min-width: 568px)
      width 32%
    @media SM
      width 15%
      padding-bottom 0
    .icon
      width 66px
      height 100px
      line-height 100px
      margin 0 auto
      @media MD
        width 100px
        height 120px
        line-height 120px
        margin-bottom 10px
      img
        max-width 100%
        display inline-block
        vertical-align middle