.m_project-card
  clearfix()
  & + .m_article-footer .social-share
    float left
  .gallery
    @media SM
      float left
      width 50%
    @media LG
      width 55%
    .m_slider
      margin-top 0
  .description
    font-size 14px
    color #494846
    @media SM
      float left
      width 50%
      padding-left 15px
    @media LG
      width 45%
    img
      max-width 100%
    h3
      color #111
      font-size 16px
      font-weight bold
      text-transform uppercase
      margin-top 20px
      margin-bottom 10px
    .square
      display inline-block
      vertical-align middle
      background $blue
      color #fff
      font-size 16px
      padding 10px
      border-radius $radius
      @media MD
        float left
    .cost
      font-size 20px
      border 1px solid #dcdcdc
      padding 10px
      h3
        margin-top 0
      @media MD
        float left
        margin-top -2px
      p
        margin 0
    .plans
      anim()
      a
        display inline-block
        vertical-align middle
        width 70px
        height 70px
        border 1px solid #e6e6e6
        line-height 70px
        text-align center
        overflow hidden
        margin-right 5px
        margin-bottom 5px
        &:hover
          border-color $green
        img
          display inline-block
          vertical-align middle
          max-height 100%
    .characters
      @media screen and (min-width: 480px)
        clearfix()
      .column
        margin-bottom 15px
        @media screen and (min-width: 480px)
          float left
          width 50%
        table
          td
            padding-top 5px
            padding-bottom 5px
          td + td
            padding-left 20px
      .print
        @media MD
          margin-top 20px
        a
          position relative
          padding-left 35px
          color $blue
          &:hover
            color #111
          &:after
            content ''
            background: url('../images/sprite.png') no-repeat -100px 0;
            width: 30px;
            height: 28px;
            position absolute
            left 0
            top 2px
        .total-size
          display block
          color #111
          padding-left 35px
    .actions
      padding-bottom 10px
      @media MD
        margin-top 20px
      a
        margin-bottom 10px
        &:first-child
          background $orange
          &:hover
            background $orange - 5%
          &:active
            background $orange - 10%
        @media MD
          padding 15px 20px
          font-size 14px
          margin-right 15px
  .projects-slider
    height 110px
    margin-bottom 15px
    .slick-arrow
      width 40px
      height 40px
      background #fff
      border none
      font-size 0
      position absolute
      top 50%
      margin-top -20px
      z-index 1
      &.slick-prev
        left 0
        &:after
          content ''
          background: url('../images/sprite.png') no-repeat -200px -50px;
          width: 12px;
          height: 20px;
          position absolute
          left 50%
          top 50%
          margin-left -6px
          margin-top -10px
          retina()
        &:hover
          &:after
            background-position -200px -100px
      &.slick-next
        right 0
        &:after
          content ''
          background: url('../images/sprite.png') no-repeat -250px -50px;
          width: 12px;
          height: 20px;
          position absolute
          left 50%
          top 50%
          margin-left -6px
          margin-top -10px
          retina()
        &:hover
          &:after
            background-position -250px -100px
      &.slick-disabled
        opacity .2
    .slick-list,
    .slick-track,
    .slide
      height 100%
    .slide
      padding-left 5px
      padding-right 5px
      a
        display block
        width 100%
        height 100%
        background-position 50%
        background-size cover