.m_lead-carousel
  .lead-carousel
    -each post in leadCarousel
      .slide
        .image: img(src="#{post.imageSrc}" alt="")
        .wrapper
          .vertical-outer
            .vertical-inner
              h2 Дом из клееного бруса<br>от 600 000 руб.
              p Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое. Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову
              .action: a(class="button" href="#") Подробнее