.row
  clearfix()

.vertical-outer
  display table
  width 100%
  height 100%

.vertical-inner
  display table-cell
  vertical-align middle
  width 100%

.centered
  display table-cell
  vertical-align middle
  text-align center
  width 100%

.fluid-image
  display block
  max-width 100%
  height auto



.hidden-xs
  @media screen and (max-width: 568px)
    display none
.hidden-sm
  @media screen and (min-width: 569px) and (max-width: 768px)
    display none
.hidden-md
  @media screen and (min-width: 769px) and (max-width: 992px)
    display none
.hidden-lg
  @media screen and (min-width: 1200px)
    display none

.visible-lg
  @media screen and (max-width: 1199px)
    display none
.visible-md
  @media screen and (max-width: 768px)
    display none
  @media screen and (min-width: 993px)
    display none
.visible-sm
  @media screen and (max-width: 568px)
    display none
  @media screen and (min-width: 769px)
    display none
.visible-xs
  @media screen and (min-width: 569px)
    display none
