html
  position relative
  min-height 100%
body
  font-family 'PT Sans', sans-serif
  font-size 18px
  line-height 1.2
  margin-bottom $footer + 30
  background #fff
footer
  height $footer
.wrapper
  clearfix()
  position relative
  max-width $wrapper
  height 100%
  padding-left 15px
  padding-right 15px
  margin-left auto
  margin-right auto

