// Layout
$wrapper = 1200px
$footer = 200px

$sprite = 200px 300px

// Custom
$radius = 5px
// Colors
$green = #88b000
$blue = #0070c0
// Links
$link = #0070c0



// Media quries
LG = "only screen and (min-width: 1200px)"
MD = "only screen and (min-width: 992px)"
SM = "only screen and (min-width: 768px)"
XS = "only screen and (min-width: 568px)"
