// Layout
$wrapper = 1200px

$sprite = 500px 500px

// Custom
$radius = 5px
// Colors
$green = #88b000
$blue = #0070c0
$orange = #f78c0c

$dark = #272625
$light = #494846
// Links
$link = #0070c0



// Media quries
LG = "only screen and (min-width: 1200px)"
MD = "only screen and (min-width: 992px)"
SM = "only screen and (min-width: 768px)"
XS = "only screen and (min-width: 568px)"
