.m_project-inner-item(itemscope itemtype="http://schema.org/Product")
  .image: a(href="#" style="background-image: url('#{post.image}')" itemprop="image")
  .square 253 кв. м.
  .recommended Рекомендуем
  .desc
    .title: a(href="#" itemprop="name") Загородный дом
    .row(itemprop="offers" itemscope itemtype="http://schema.org/Offer")
      .value Брус массив от <b itemprop="price" content="600000.00">600 000</b> <span itemprop="priceCurrency" content="RUB">руб</span>
      .value Каркас от <b itemprop="price" content="480000.00">480 000</b> <span itemprop="priceCurrency" content="RUB">руб</span>
    .row(itemprop="description")
      .value Этажей: 2
      .value Жилая площадь: 200 м2
      .value Количество спален: 2
    .details: a(class="button-border-green" href="#") Подробнее