-
  var leadCarousel = [
    { imageSrc: 'images/content/lead-carousel-1.jpg' },
    { imageSrc: 'images/content/lead-carousel-2.jpg' },
    { imageSrc: 'images/content/lead-carousel-3.jpg' }
  ]
-
  var leadPluses = [
    {
      imageSrc: 'images/pluses/1.png',
      imageSrcset: 'images/pluses/1.png 1x, images/pluses/1@2x.png 1.3x',
      title: 'Собственное производство'
    },
    {
      imageSrc: 'images/pluses/2.png',
      imageSrcset: 'images/pluses/2.png 1x, images/pluses/2@2x.png 1.3x',
      title: 'Собственная выставочная площадка'
    },
    {
      imageSrc: 'images/pluses/3.png',
      imageSrcset: 'images/pluses/3.png 1x, images/pluses/3@2x.png 1.3x',
      title: 'Опытные сотрудники'
    },
    {
      imageSrc: 'images/pluses/4.png',
      imageSrcset: 'images/pluses/4.png 1x, images/pluses/4@2x.png 1.3x',
      title: 'Гарантия 3 года'
    },
    {
      imageSrc: 'images/pluses/5.png',
      imageSrcset: 'images/pluses/5.png 1x, images/pluses/5@2x.png 1.3x',
      title: 'Соблюдение ГОСТ'
    },
    {
      imageSrc: 'images/pluses/6.png',
      imageSrcset: 'images/pluses/6.png 1x, images/pluses/6@2x.png 1.3x',
      title: 'Материнский катипал'
    }
  ]
-
  var leadProjects = [
    {
      image: 'images/content/project-1.jpg',
      title: 'Проекты домов',
      description: 'Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое...'
    },
    {
      image: 'images/content/project-2.jpg',
      title: 'Проекты бань',
      description: 'Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое...'
    },
    {
      image: 'images/content/project-3.jpg',
      title: 'Проекты коттеджей',
      description: 'Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое...'
    },
    {
      image: 'images/content/project-4.jpg',
      title: 'Садовые дома',
      description: 'Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое...'
    }
  ]
-
  var portfolio = [
    {
      image: 'images/content/project-1.jpg',
      title: 'Загородный дом 253 кв. м.'
    },
    {
      image: 'images/content/project-2.jpg',
      title: 'Загородный дом 253 кв. м.'
    },
    {
      image: 'images/content/project-3.jpg',
      title: 'Загородный дом 253 кв. м.'
    },
    {
      image: 'images/content/project-4.jpg',
      title: 'Загородный дом 253 кв. м.'
    }
  ]
-
  var portfolioInner = [
    {
      image: 'images/content/project-1.jpg',
      title: 'Коттедж из клеенного бруса в Ленинградской области'
    },
    {
      image: 'images/content/project-2.jpg',
      title: 'Загородный дом 253 кв. м.'
    },
    {
      image: 'images/content/project-3.jpg',
      title: 'Загородный дом 253 кв. м.'
    },
    {
      image: 'images/content/project-4.jpg',
      title: 'Загородный дом 253 кв. м.'
    },
    {
      image: 'images/content/project-3.jpg',
      title: 'Коттедж из клеенного бруса в Ленинградской области'
    },
    {
      image: 'images/content/project-4.jpg',
      title: 'Загородный дом 253 кв. м.'
    }
  ]
-
  var realized_projects = [
    {
      image: 'images/content/project-1.jpg',
      title: 'Коттедж из клеенного бруса в Ленинградской области'
    },
    {
      image: 'images/content/project-2.jpg',
      title: 'Загородный дом 253 кв. м.'
    },
    {
      image: 'images/content/project-3.jpg',
      title: 'Загородный дом 253 кв. м.'
    }
  ]
-
  var realized_projects_large = [
    {
      image: 'images/content/project-1.jpg',
      title: 'Дом каркасный 5х6 на берегу озера',
      description: 'Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое...'
    },
    {
      image: 'images/content/project-2.jpg',
      title: 'Баня из клеенного бруса в Ленинградской области',
      description: 'Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое...'
    }
  ]
-
  var articles = [
    {
      image: 'images/content/project-1.jpg',
      title: 'Как правильно подобрать систему кондиционирования для загородного дома?',
      description: 'Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое...'
    },
    {
      image: 'images/content/project-2.jpg',
      title: 'Как правильно подобрать систему кондиционирования для загородного дома?',
      description: 'Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое...'
    },
    {
      image: 'images/content/project-3.jpg',
      title: 'Как правильно подобрать систему кондиционирования для загородного дома?',
      description: 'Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое...'
    },
    {
      image: 'images/content/project-4.jpg',
      title: 'Как правильно подобрать систему кондиционирования для загородного дома?',
      description: 'Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое...'
    }
  ]
-
  var leadNews = [
    {
      date: '7 октября 2016',
      image: 'images/content/project-1.jpg',
      title: 'Коттедж в стиле лофт на берегу озера',
      description: 'Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое...'
    },
    {
      date: '7 октября 2016',
      image: 'images/content/project-2.jpg',
      title: 'Коттедж в стиле лофт на берегу озера',
      description: 'Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое...'
    },
    {
      date: '7 октября 2016',
      image: 'images/content/project-3.jpg',
      title: 'Коттедж в стиле лофт на берегу озера',
      description: 'Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое...'
    }
  ]
-
  var events_list = [
    {
      date: 'С 08 апреля по 10 мая 2016',
      image: 'images/content/lead-carousel-2.jpg',
      title: 'Специальное предложение на проекты коттеджаа',
      description: 'C 8 апреля по 10 мая закажите проект коттеджа и получите возможность заказать беседку на 25% дешевле!'
    },
    {
      date: 'С 08 апреля по 10 мая 2016',
      image: 'images/content/lead-carousel-3.jpg',
      title: 'Специальное предложение на проекты коттеджаа',
      description: 'C 8 апреля по 10 мая закажите проект коттеджа и получите возможность заказать беседку на 25% дешевле!'
    },
    {
      date: 'С 08 апреля по 10 мая 2016',
      image: 'images/content/project-3.jpg',
      title: 'Специальное предложение на проекты коттеджаа',
      description: 'C 8 апреля по 10 мая закажите проект коттеджа и получите возможность заказать беседку на 25% дешевле!'
    },
    {
      date: 'С 08 апреля по 10 мая 2016',
      image: 'images/content/project-1.jpg',
      title: 'Специальное предложение на проекты коттеджаа',
      description: 'C 8 апреля по 10 мая закажите проект коттеджа и получите возможность заказать беседку на 25% дешевле!'
    },
    {
      date: 'С 08 апреля по 10 мая 2016',
      image: 'images/content/lead-carousel-1.jpg',
      title: 'Специальное предложение на проекты коттеджаа',
      description: 'C 8 апреля по 10 мая закажите проект коттеджа и получите возможность заказать беседку на 25% дешевле!'
    }
  ]

-
  var video = [
    {
      image: 'images/content/project-1.jpg',
      title: 'Название видео'
    },
    {
      image: 'images/content/project-2.jpg',
      title: 'Название видео'
    },
    {
      image: 'images/content/project-3.jpg',
      title: 'Название видео'
    }
  ]
-
  var video_list = [
    {
      image: 'images/content/project-1.jpg',
      title: 'Название видео'
    },
    {
      image: 'images/content/project-2.jpg',
      title: 'Название видео'
    },
    {
      image: 'images/content/project-3.jpg',
      title: 'Название видео'
    },
    {
      image: 'images/content/project-1.jpg',
      title: 'Название видео'
    },
    {
      image: 'images/content/project-2.jpg',
      title: 'Название видео'
    },
    {
      image: 'images/content/project-3.jpg',
      title: 'Название видео'
    },
    {
      image: 'images/content/project-1.jpg',
      title: 'Название видео'
    },
    {
      image: 'images/content/project-2.jpg',
      title: 'Название видео'
    },
    {
      image: 'images/content/project-3.jpg',
      title: 'Название видео'
    }
  ]
-
  var video_list_online = [
    {
      image: 'images/content/project-1.jpg',
      title: 'Название видео'
    },
    {
      image: 'images/content/project-2.jpg',
      title: 'Название видео'
    },
    {
      image: 'images/content/project-3.jpg',
      title: 'Название видео'
    },
    {
      image: 'images/content/project-1.jpg',
      title: 'Название видео'
    },
    {
      image: 'images/content/project-2.jpg',
      title: 'Название видео'
    },
    {
      image: 'images/content/project-3.jpg',
      title: 'Название видео'
    },
    {
      image: 'images/content/project-1.jpg',
      title: 'Название видео'
    },
    {
      image: 'images/content/project-2.jpg',
      title: 'Название видео'
    },
    {
      image: 'images/content/project-3.jpg',
      title: 'Название видео'
    },
    {
      image: 'images/content/project-1.jpg',
      title: 'Название видео'
    },
    {
      image: 'images/content/project-2.jpg',
      title: 'Название видео'
    },
    {
      image: 'images/content/project-3.jpg',
      title: 'Название видео'
    },
    {
      image: 'images/content/project-1.jpg',
      title: 'Название видео'
    },
    {
      image: 'images/content/project-2.jpg',
      title: 'Название видео'
    },
    {
      image: 'images/content/project-3.jpg',
      title: 'Название видео'
    }
  ]
-
  var articles_list = [
    {
      image: 'images/content/project-1.jpg',
      title: 'Как правильно подобрать систему кондиционирования для загородного дома?',
      description: 'Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое...'
    },
    {
      image: 'images/content/project-2.jpg',
      title: 'Как правильно подобрать систему кондиционирования для загородного дома?',
      description: 'Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое...'
    },
    {
      image: 'images/content/project-3.jpg',
      title: 'Как правильно подобрать систему кондиционирования для загородного дома?',
      description: 'Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое...'
    },
    {
      image: 'images/content/project-4.jpg',
      title: 'Как правильно подобрать систему кондиционирования для загородного дома?',
      description: 'Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое...'
    },
    {
      image: 'images/content/project-1.jpg',
      title: 'Как правильно подобрать систему кондиционирования для загородного дома?',
      description: 'Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое...'
    },
    {
      image: 'images/content/project-2.jpg',
      title: 'Как правильно подобрать систему кондиционирования для загородного дома?',
      description: 'Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое...'
    },
    {
      image: 'images/content/project-3.jpg',
      title: 'Как правильно подобрать систему кондиционирования для загородного дома?',
      description: 'Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое...'
    },
    {
      image: 'images/content/project-4.jpg',
      title: 'Как правильно подобрать систему кондиционирования для загородного дома?',
      description: 'Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое...'
    },
    {
      image: 'images/content/project-4.jpg',
      title: 'Как правильно подобрать систему кондиционирования для загородного дома?',
      description: 'Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое...'
    }
  ]
-
  var sidebar_similar = [
    {
      image: 'images/content/project-1.jpg',
      title: 'Как подобрать систему вентиляции?',
      description: 'Блок с seo оптимизированным текстом. Каждая сосна или ель из которой мы изготавливаем...'
    },
    {
      image: 'images/content/project-2.jpg',
      title: 'Как правильно подобрать систему кондиционирования для загородного дома?',
      description: 'Блок с seo оптимизированным текстом. Каждая сосна или ель из которой мы изготавливаем...'
    },
    {
      image: 'images/content/project-3.jpg',
      title: 'Как правильно подобрать систему кондиционирования для загородного дома?',
      description: 'Блок с seo оптимизированным текстом. Каждая сосна или ель из которой мы изготавливаем...'
    }
  ]
-
  var comments = [
    {
      result: 'images/content/project-1.jpg',
      comment: 'images/content/comments-1.jpg',
    },
    {
      result: 'images/content/project-2.jpg',
      comment: 'images/content/comments-2.jpg',
    },
    {
      result: 'images/content/project-3.jpg',
      comment: 'images/content/comments-3.jpg',
    },
    {
      result: 'images/content/project-1.jpg',
      comment: 'images/content/comments-1.jpg',
    },
    {
      result: 'images/content/project-2.jpg',
      comment: 'images/content/comments-2.jpg',
    }
  ]
-
  var comments_small = [
    {
      result: 'images/content/project-1.jpg',
      comment: 'images/content/comments-1.jpg',
    },
    {
      result: 'images/content/project-2.jpg',
      comment: 'images/content/comments-2.jpg',
    },
    {
      result: 'images/content/project-3.jpg',
      comment: 'images/content/comments-3.jpg',
    }
  ]
-
  var projects_list = [
    { image: 'images/content/project-1.jpg' },
    { image: 'images/content/project-2.jpg' },
    { image: 'images/content/project-3.jpg' },
    { image: 'images/content/project-4.jpg' },
    { image: 'images/content/project-1.jpg' },
    { image: 'images/content/project-2.jpg' },
    { image: 'images/content/project-1.jpg' },
    { image: 'images/content/project-2.jpg' },
    { image: 'images/content/project-3.jpg' },
    { image: 'images/content/project-4.jpg' },
    { image: 'images/content/project-1.jpg' },
    { image: 'images/content/project-2.jpg' }
  ]