extends ../modules/layout/layout.jade

block title
  title Спецпредложения и акции

block data
  include ../static/content/_home.jade

block content
  main
    .m_breadcrumbs
      ul
        li: a(href="#") Главная
        li: a(href="#") Спецпредложения и акции
    .page-title
      h2 Спецпредложения и акции
    aside.m_sidebar
      .sidebar-nav
        ul
          li: a(class="current" href="#") Акции
          li: a(href="#") Новости
          li: a(href="#") Технологии
          li: a(href="#") Отзывы клиентов
      .sidebar-help
        p Задайте нам свой вопрос и мы подробно расскажем о наших услугах, видах работ и типовых проектах, рассчитаем стоимость и подготовим индивидульное предложение!
        .action: a(class="popup button-white" href="#popup-question") Задать вопрос
    section.content
      article
        .excerpt
          p  Блок с seo оптимизированным текстом. Каждая сосна или ель из которой мы изготавливаем пиломатериалы по-своему индивидуальны и неповторимы. Дерево по своей сути является уникальным, живым строительным материалом, его нельзя изготовить, смешав различные компоненты, оно должно вырасти! Именно это свойство древесины и послужило основой для выбора названия нашей организации - «Живой дом».
          .excerpt-hidden(style="display: none")
            p В далёком 2001 году мы начинали свой путь со строительства небольших деревянных домов и бань. С января 2009 года мы осуществляем свою деятельность под брендом «Живой дом».<br>На сегодняшний день «Живой дом» представляет из себя вертикально интегрированную компанию осуществляющую полный цикл лесозаготовки и деревопереработки.
            p Мы производим и реализуем широкий ассортимент качественных пиломатериалов и как и прежде строим для вас качественные и не дорогие деревянные дома и коттеджи по различным технологиям.
          a(class="excerpt-button" href="#") Подробнее
      section
        -each post in events_list
          include ../modules/events-item/m_events-item.jade
      // Пагинация
      include ../modules/paginations/m_paginations.jade
