extends ../modules/layout/layout.jade

block title
  title Главная

block data
  include ../static/content/_home.jade

block content
  //- Карусель
  include ../modules/lead-carousel/m_lead-carousel.jade
  //- Преимущества
  include ../modules/lead-pluses/m_lead-pluses.jade
  //- Основые категории проектов
  .m_lead-project
    .wrapper
      -each post in leadProjects
        .column-2
          include ../modules/project-item/m_project-item.jade
  //- Подобрать проект
  include ../modules/find-project/m_find-project.jade
  //- Нужна консультация?
  include ../modules/help-hook/m_help-hook.jade
  //- Реализованные проекты
  .m_portfolio-projects
    .wrapper.space
      .section-title
        h2 Реализованные проекты
        .details
          a(href="#") Все проекты
      .columns
        -each post in portfolio
          .column-4
            include ../modules/item/m_item.jade
  //- Полезные статьи
  .m_portfolio-projects
    .wrapper.space
      .section-title
        h2 Полезные статьи
        .details
          a(href="#") Все статьи
      .columns
        -var item_has_description = true
        -each post in articles
          .column-4
            include ../modules/item/m_item.jade
  //- Новости
  include ../modules/lead-news/m_lead-news.jade
  //- Коротко о нас
  .m_lead-story
    .wrapper.space
      article
        img(src="images/content/story.jpg" alt="")
        .section-title
          h2 Коротко о нас
        p Производственно-строительная компания «ДЕРЕВЯННЫЙ СТАНДАРТ» основана в Санкт-Петербурге в 2011 году.<br>Основное направление деятельности – малоэтажное строительство деревянных загородных домов по Каркасно-панельной и Брусовой технологиям.<br>Миссия компании — создание качественного продукта, соответствующего высоким стандартам, указанным в ГОСТ. (*государственный стандарт качества).
        p Офис располагается во Всеволожском р-не Ленинградской области в п. Колтуши. На площадке в Колтушах, помимо офиса, находится сборочный цех и выставочные образцы выпускаемой продукции.
        .details: a(class="button-border-green" href="#") Подробнее
  //- Карта
  .m_lead-map
    .contacts
      .locate г. Санкт-Петербург
      .row
        .label Адрес:
        .value ул. Название улицы, д. 2
      .row
        .label Телефоны:
        .value <span>8 (800) 380-30-30</span>, <span>+7 (812) 380-30-30</span>
      .row
        a(class="button" href="#") Заказать звонок
    script(src="//api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")
    #map

