.m_map-objects
  clearfix()
  margin-bottom -30px
  margin-top 15px
  #mapObjects
    height 500px
    width 100%
    @media SM
      height 600px
  .placemark-link
    display inline-block
    vertical-align middle
    font-size 14px
    color $blue
    text-decoration underline
    padding-left 15px
    padding-right 10px
    margin-top 10px
    &:hover
      color #111
      text-decoration none
  .placemark-desc
    max-width 300px
    padding-left 15px
    padding-bottom 15px
    font-size 14px
    line-height 20px
    color #494846