.table-row
  table.lead
    tr
      th.no-border
      th(colspan="3") Без отделки
      th(colspan="3") С отделкой
    tr
      td.no-border
      td 100 мм
      td 100 мм
      td 100 мм
      td 100 мм
      td 100 мм
      td 100 мм
    tr
      td.no-border.right <b>Пятистенок</b>
      td 300 000 руб.
      td 300 000 руб.
      td 300 000 руб.
      td 300 000 руб.
      td 300 000 руб.
      td 300 000 руб.
    tr
      td.no-border.right <b>С перегородками</b>
      td 300 000 руб.
      td 300 000 руб.
      td 300 000 руб.
      td 300 000 руб.
      td 300 000 руб.
      td 300 000 руб.
    tr
      td.no-border
      td.no-border: a(class="popup order" href="#popup-calc") Хочу заказать
      td.no-border: a(class="popup order" href="#popup-calc") Хочу заказать
      td.no-border: a(class="popup order" href="#popup-calc") Хочу заказать
      td.no-border: a(class="popup order" href="#popup-calc") Хочу заказать
      td.no-border: a(class="popup order" href="#popup-calc") Хочу заказать
      td.no-border: a(class="popup order" href="#popup-calc") Хочу заказать
  .table-notes
    p: b * — в стоимость включена сборка дома
    p: b * — в стоимость не включена доставка и фундамент
.table-row
  table.table
    tr.table-header
      th.no-border-bottom: span Каркас
      th(colspan="3"): span Комплектация без отделки
      th(colspan="3"): span Комплектация с отделкой
    tr.table-header
      td.no-border
      td 100
      td 150
      td 200
      td 100
      td 150
      td 200
    tr
      td Высота 1-го этажа 2,5 м
      td: span.yes
      td: span.yes
      td: span.yes
      td: span.yes
      td: span.yes
      td: span.yes
    tr
      td Высота мансардного этажа 2,5 м
      td: span.yes
      td: span.yes
      td: span.yes
      td: span.yes
      td: span.yes
      td: span.yes
    tr
      td Обвязочный венец из пиленого бруса 150х150 мм
      td: span.yes
      td: span.yes
      td: span.no
      td: span.yes
      td: span.yes
      td: span.no
    tr
      td Обвязочный венец из пиленого бруса 200х200 мм
      td: span.no
      td: span.no
      td: span.yes
      td: span.no
      td: span.no
      td: span.yes
    tr
      td Балки перекрытия 1-го этажа из пиленой доски 40х150
      td: span.yes
      td: span.yes
      td: span.no
      td: span.no
      td: span.no
      td: span.no
    tr
      td Балки перекрытия 1-го этажа из сухой пиленой доски 50х200
      td: span.no
      td: span.no
      td: span.no
      td: span.no
      td: span.no
      td: span.yes
    tr
      td Черновые полы из доски обрезная 20х100 мм
      td: span.yes
      td: span.yes
      td: span.yes
      td: span.yes
      td: span.yes
      td: span.yes
    tr
      td Несущий каркас из сухой строганая доска 35х90
      td: span.yes
      td: span.no
      td: span.no
      td: span.yes
      td: span.no
      td: span.no
    tr
      td Несущий каркас из сухой строганая доска 35х140
      td: span.no
      td: span.yes
      td: span.no
      td: span.no
      td: span.yes
      td: span.no
    tr
      td Несущий каркас из сухой страная доска 45х190
      td: span.no
      td: span.no
      td: span.yes
      td: span.no
      td: span.no
      td: span.yes
    tr
      td Каркас пятой стены / межкомнатных перегородок толщиной 100 мм из сухой строганой доски 35х90
      td: span.yes
      td: span.yes
      td: span.yes
      td: span.yes
      td: span.yes
      td: span.yes
    tr
      td Обшивка наружных стен плитами OSB 8 мм
      td: span.yes
      td: span.yes
      td: span.yes
      td: span.yes
      td: span.yes
      td: span.yes
    tr
      td Утепление несущего каркаса и перекрытий 1 и 2 этажей минеральной ватой Knauf общей толщиной 100 мм
      td: span.no
      td: span.no
      td: span.no
      td: span.yes
      td: span.no
      td: span.no
    tr
      td Утепление несущего каркаса и перекрытий 1 и 2 этажей минеральной ватой Knauf общей толщиной 150 мм
      td: span.no
      td: span.no
      td: span.no
      td: span.no
      td: span.yes
      td: span.no
    tr
      td Утепление несущего каркаса и перекрытий 1 и 2 этажей минеральной ватой Knauf общей толщиной 200 мм
      td: span.no
      td: span.no
      td: span.no
      td: span.no
      td: span.no
      td: span.yes
    tr
      td Каркас межкомнатных перегородк 1 и 2 этаж из сухой строганая доска 35х90
      td: span.yes
      td: span.yes
      td: span.yes
      td: span.yes
      td: span.yes
      td: span.yes
    tr
      td Обшивка внутренних перегородк с одной сторон плитами OSB толщиной 8 мм
      td: span.yes
      td: span.yes
      td: span.yes
      td: span.yes
      td: span.yes
      td: span.yes
    tr
      td Звукоизоляция внутренних перегородок минеральной ватой Knauf толщиной 100 мм
      td: span.no
      td: span.no
      td: span.no
      td: span.yes
      td: span.yes
      td: span.yes
.table-row
  table.table
    tr.table-header
      th.no-border-bottom: span Кровля
      th(colspan="3"): span Комплектация без отделки
      th(colspan="3"): span Комплектация с отделкой
    tr.table-header
      td.no-border
      td 100
      td 150
      td 200
      td 100
      td 150
      td 200
    tr
      td Высота 1-го этажа 2,5 м
      td: span.yes
      td: span.yes
      td: span.yes
      td: span.yes
      td: span.yes
      td: span.yes
    tr
      td Высота мансардного этажа 2,5 м
      td: span.yes
      td: span.yes
      td: span.yes
      td: span.yes
      td: span.yes
      td: span.yes
    tr
      td Обвязочный венец из пиленого бруса 150х150 мм
      td: span.yes
      td: span.yes
      td: span.no
      td: span.yes
      td: span.yes
      td: span.no
    tr
      td Обвязочный венец из пиленого бруса 200х200 мм
      td: span.no
      td: span.no
      td: span.yes
      td: span.no
      td: span.no
      td: span.yes
    tr
      td Балки перекрытия 1-го этажа из пиленой доски 40х150
      td: span.yes
      td: span.yes
      td: span.no
      td: span.no
      td: span.no
      td: span.no
    tr
      td Утепление несущего каркаса и перекрытий 1 и 2 этажей минеральной ватой Knauf общей толщиной 200 мм
      td: span.no
      td: span.no
      td: span.no
      td: span.no
      td: span.no
      td: span.yes
.table-row
  table.table
    tr.table-header
      th.no-border-bottom: span Отделка
      th(colspan="3"): span Комплектация без отделки
      th(colspan="3"): span Комплектация с отделкой
    tr.table-header
      td.no-border
      td 100
      td 150
      td 200
      td 100
      td 150
      td 200
    tr
      td Высота 1-го этажа 2,5 м
      td: span.yes
      td: span.yes
      td: span.yes
      td: span.yes
      td: span.yes
      td: span.yes
    tr
      td Высота мансардного этажа 2,5 м
      td: span.yes
      td: span.yes
      td: span.yes
      td: span.yes
      td: span.yes
      td: span.yes
    tr
      td Обвязочный венец из пиленого бруса 150х150 мм
      td: span.yes
      td: span.yes
      td: span.no
      td: span.yes
      td: span.yes
      td: span.no
    tr
      td Обвязочный венец из пиленого бруса 200х200 мм
      td: span.no
      td: span.no
      td: span.yes
      td: span.no
      td: span.no
      td: span.yes
    tr
      td Балки перекрытия 1-го этажа из пиленой доски 40х150
      td: span.yes
      td: span.yes
      td: span.no
      td: span.no
      td: span.no
      td: span.no
    tr
      td Утепление несущего каркаса и перекрытий 1 и 2 этажей минеральной ватой Knauf общей толщиной 200 мм
      td: span.no
      td: span.no
      td: span.no
      td: span.no
      td: span.no
      td: span.yes
    tr.buttons
      td.no-border
      td.no-border: a(class="popup order" href="#popup-calc") Хочу заказать
      td.no-border: a(class="popup order" href="#popup-calc") Хочу заказать
      td.no-border: a(class="popup order" href="#popup-calc") Хочу заказать
      td.no-border: a(class="popup order" href="#popup-calc") Хочу заказать
      td.no-border: a(class="popup order" href="#popup-calc") Хочу заказать
      td.no-border: a(class="popup order" href="#popup-calc") Хочу заказать