doctype html
html(lang="ru").no-js
  head
    block title
      title Default title
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="msapplication-tap-highlight" content="no")
    // Короткое описание страницы (ограничение — 150 символов). *Иногда* содержимое meta-тега `description` используется поисковыми системами как сниппет (короткое описание страницы) в выдате
    meta(name="description" content="A description of the page")
    // Короткое описание тематики вашего сайта
    meta(name="subject" content="тематика вашего сайта")
    // Контролирует поведение поисковых систем при индексации страницы
    meta(name="robots" content="index,follow,noodp")
    meta(name="googlebot" content="index,follow")
    // Позволяет указать Google не показывать в поисковой выдаче поле для поиска по сайту
    meta(name="google" content="nositelinkssearchbox")
    // Позволяет указать Google не предлагать перевести эту страницу
    meta(name="google" content="notranslate")
    // Указывает что контент сайта соответствует возрастному рейтингу `General`
    meta(name="rating" content="General")
    // Отключает автоматическое определение и форматирование телефонных номеров
    meta(name="format-detection" content="telephone=no")
    // Сохраняет cookie в веб-браузере для клиентской аутентификации
    meta(http-equiv='set-cookie' content='name=value; expires=date; path=url')
    // Google игнорирует это содержимое, а Bing расценивает это как признак спама. Нет подтверждения, что хотя бы одна поисковая система использует этот тег
    // meta(name="keywords" content="ключевые,слова,разделённые,запятыми,без,пробелов")
    link(href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700&amp;subset=cyrillic-ext" rel="stylesheet")
    link(rel="stylesheet" href="css/plugins.css")
    link(rel="stylesheet" href="css/app.css")
    script(src="js/modernizr.js")
  body
    include ../header/m_header
    // Layout
    .container
      block content
    include ../footer/m_footer
    .bg-layout
    // Javascript
    script(src="js/jquery.min.js")
    script(src="js/plugins.js")
    script(src="js/app.js")