// Header
header.m_header
  .top-header(itemscope itemtype="http://schema.org/Organization")
    .wrapper
      .logo
        a(href="#")
          img(src="images/logo.png" srcset="images/logo.png 1x, images/logo@2x.png 1.3x" alt="WS" title="WS" itemprop="name")
      .categories-nav
        .map-section
          a(href="#")
            i.icon-map
            span Карта реализованных объектов
        .video-section
          a(href="#")
            i.icon-video
            span Онлайн видео с объектов
      .callback
        a(class="button popup" href="#popup-callback") Заказать звонок
      .contacts
        .vertical-outer
          .vertical-inner
            .tel(itemprop="telephone") 8 (800) 2000-60
            .tel(itemprop="telephone") 8 (812) 300-20-20
            .email: a(href="#" itemprop="address") info@woodstandart.ru
            .clock Без выходных с 11 до 20 часов
  .bottom-header
    .wrapper
      button(class="mobile-menu" type="button")
        span
        i МЕНЮ
      ul.menu
        li.dropdown-menu
          a(href="#") Проекты домов
          ul
            li: a(href="#") Вложенное меню #1
            li: a(href="#") Вложенное меню #2
            li: a(href="#") Вложенное меню #3
            li: a(href="#") Вложенное меню #4
        li.dropdown-menu
          a(href="#") Реализованные проекты
          ul
            li: a(href="#") Вложенное меню #1
            li: a(href="#") Вложенное меню #2
            li: a(href="#") Вложенное меню #3
            li: a(href="#") Вложенное меню #4
        li.dropdown-menu
          a(href="#") Акции
          ul
            li: a(href="#") Вложенное меню #1
            li: a(href="#") Вложенное меню #2
            li: a(href="#") Вложенное меню #3
            li: a(href="#") Вложенное меню #4
        li.dropdown-menu
          a(href="#") Технологии
          ul
            li: a(href="#") Вложенное меню #1
            li: a(href="#") Вложенное меню #2
            li: a(href="#") Вложенное меню #3
            li: a(href="#") Вложенное меню #4
        li.dropdown-menu
          a(href="#") Отделка
          ul
            li: a(href="#") Вложенное меню #1
            li: a(href="#") Вложенное меню #2
            li: a(href="#") Вложенное меню #3
            li: a(href="#") Вложенное меню #4
        li
          a(href="#") Видео
        li.dropdown-menu
          a(href="#") Компания
          ul
            li: a(href="#") Вложенное меню #1
            li: a(href="#") Вложенное меню #2
            li: a(href="#") Вложенное меню #3
            li: a(href="#") Вложенное меню #4
        li
          a(href="#") Контакты