.m_header
  position relative
  z-index 20
  background #fff
  .logo
    padding 10px 0
    @media screen and (min-width: 360px)
      float left
      width 50%
      max-width 240px
      height 70px
      line-height 70px
      padding 0
    @media MD
      width 240px
      max-width 240px
      height 100px
      line-height 100px
    @media LG
      width 270px
      max-width 270px
    img,
    a
      display block
      max-width 100%
    a
      @media screen and (min-width: 360px)
        display inline-block
        vertical-align middle
  .secondary-menu
    display none
    @media MD
      display block
      float left
      padding-left 20px
      padding-top 25px
      padding-right 20px
    @media LG
      padding-left 20px
      padding-top 15px
      max-width 320px
      margin-left 20px
    @media screen and (min-width: 992px) and (max-width: 1199px)
      max-width 360px
      padding-top 25px
    li
      display inline-block
      vertical-align middle
      margin-right 20px
      @media LG
        margin-top 5px
        margin-bottom 5px
      a
        anim()
        color #000
        font-weight bold
        font-size 16px
        display inline-block
        vertical-align middle
        border-bottom 1px solid rgba(0,0,0,.2)
        @media LG
          font-size 18px
        &:hover
          border-color #000

  .categories-nav
    display none
    @media MD
      // display block
      display none
      float left
      padding-left 20px
      padding-top 20px
    @media LG
      padding-left 50px
      padding-top 25px
    @media screen and (min-width: 992px) and (max-width: 1199px)
      max-width 360px
      padding-top 30px
    > div
      @media MD
        margin 5px 0
      @media screen and (min-width: 992px) and (max-width: 1199px)
        display inline-block
        vertical-align top
        &.map-section
          margin-right 20px
          span
            max-width 150px
          i
            vertical-align top
            margin-right 2px
        &.video-section
          span
            max-width 120px
          i
            vertical-align top
            margin-top 3px
            margin-right 2px
      @media LG
        display inline-block
        vertical-align middle
        max-width 170px
        &.map-section
          max-width 170px
          a
            padding-left 30px
          i
            margin-top -15.5px
        &.video-section
          max-width 130px
          margin-left 30px
          a
            padding-left 35px
          i
            margin-top -9px
    a
      position relative
      display inline-block
      vertical-align middle
      font-size 14px
      color #111
      &:hover
        span
          text-decoration none
      i
        display none
        @media MD
          display inline-block
        @media LG
          position absolute
          left 0
          top 50%
        &.icon-map
          @media screen and (min-width: 992px) and (max-width: 1199px)
            background url("../images/map-section.png") no-repeat 0 0
            width 13px
            height 19px
        &.icon-video
          @media screen and (min-width: 992px) and (max-width: 1199px)
            background url("../images/video-section.png") no-repeat 0 0
            width 17px
            height 11px
      span
        display inline-block
        vertical-align middle
        text-decoration underline
  .contacts
    @media screen and (min-width: 360px)
      float right
      height 70px
    @media MD
      text-align left
      height 100px
    @media LG
      margin-right 190px
    .phones,
    .info
      @media LG
        display inline-block
        vertical-align middle
    .phones
      @media LG
        margin-right 20px
    .email,
    .clock
      display none
      @media MD
        font-size 14px
        display block
    .clock
      color #494846
    .email
      a
        color $link
        &:hover
          color #111
    .tel
      color #111
      font-weight bold
      font-size 16px
      text-align right
      display none
      @media screen and (min-width: 360px)
        display block
      @media screen and (min-width: 480px)
        font-size 20px
      @media MD
        text-align left
        font-size 16px
  .callback
    position absolute
    right 15px
    bottom 10px
    z-index 1
    @media MD
      position static
      float right
      margin-top 15px
      margin-left 15px
    @media LG
      position absolute
      bottom auto
      top 15px
    @media screen and (min-width: 992px) and (max-width: 1200px)
      margin-top 15px
      a
        padding 14px 20px

  .top-header
    background #fff
    @media MD
      height 100px
    .wrapper
      position static
      @media LG
        position relative
  .bottom-header
    height 50px
    border-top 1px solid #dcdcdc
    background #fff
    z-index 2
    border-bottom 1px solid #dcdcdc
    &.is-opened
      background url("../images/pattern-1.png") repeat 0 0
      .menu
        display block
    .menu
      anim()
      position absolute
      left 0
      top 49px
      background #fff
      z-index 1
      width 100%
      display none
      @media MD
        display table
        cursor default
        position static
        width 100%
        height 100%
      .dropdown-menu
        &.is-active
          > a
            color $blue
            &:after
              @media screen and (max-width: 991px)
                transform rotate(90deg)
          ul
            display block
            @media MD
              display none !important
      > li
        border-bottom 1px solid #dcdcdc
        @media MD
          position relative
          display table-cell
          vertical-align middle
          border-bottom none
          &:before,
          &:after
            anim()
            content ''
            position absolute
            width 0
            height 2px
            background $blue
          &:before
            top -1px
            left 0
          &:after
            right 0
            bottom -1px
          &:hover
            &:after, &:before
              width 100%
        &.only-responsive
          @media MD
            display none
        > a
          anim()
          display block
          padding-left 45px
          position relative
          text-transform uppercase
          color #111
          font-size 15px
          line-height 1
          font-weight bold
          padding 15px 0 15px 45px
          @media MD
            padding 0 10px
            display block
            line-height 48px
            text-align center
            &:before,
            &:after
              anim()
              content ''
              position absolute
              width 1px
              height 12px
              background #c8c8c8
            &:before
              top 50%
              left 0px
              margin-top -6px
            &:after
              bottom 50%
              margin-bottom -6px
              right -1px
          @media LG
            padding 0 20px
          &:hover
            @media MD
              color $blue
              &:before,
              &:after
                transition-delay .3s
                height 50px
                width 2px
                background $blue
                // margin-top 0
                // top 0
                z-index 1
              &:before
                top -1px
                transform translateY(6px)
              &:after
                bottom -1px
                transform translateY(-6px)
          @media screen and (max-width: 991px)
            &:after
              content ''
              background: url('../images/sprite.png') no-repeat -250px -50px;
              width: 12px;
              height: 20px;
              position absolute
              left 15px
              top 50%
              margin-top -10px
              retina()
        ul
          padding-left 45px
          padding-right 15px
          padding-bottom 20px
          display none
          a
            anim()
            display inline-block
            vertical-align middle
            padding 5px 0
            font-size 16px
            color $link
            &:hover
              color #111
