.m_hook
  background url("../images/pattern-1.png") repeat 0 0
  color #fff
  text-align center
  padding 25px 15px
  margin-bottom 30px
  @media SM
    padding 35px 20px
  p
    font-size 16px
    line-height 24px
    color #fff
    text-transform uppercase
    font-weight bold
    @media SM
      float left
      max-width 60%
      text-align left
      margin-bottom 0
  .action
    a
      padding 15px
      @media SM
        padding 15px 30px
    @media SM
      float right
      width 270px
      text-align right
