.m_slider
  margin-bottom 30px
  margin-top 30px
  .slider-nav
    display none
    @media SM
      display block
      margin-top 10px
    .slide
      height 110px
      padding-left 5px
      padding-right 5px
      .image
        width 100%
        height 100%
        background-repeat no-repeat
        background-position 50%
        background-size cover
        position relative
        cursor pointer
        &:after
          anim()
          content ''
          position absolute
          left 0
          top 0
          width 100%
          height 100%
          background rgba(0,0,0,.3)
          opacity 0
        &:hover:after
          opacity 1
      &.slick-current .image:before
        content ''
        position absolute
        left 0
        top 0
        width 100%
        height 100%
        border 2px solid $green

  .slider-for
    position relative
    height 240px
    @media screen and (min-width: 568px)
      height 300px
    @media SM
      padding-left 5px
      padding-right 5px
      height 445px
    .slick-list,
    .slick-track
    .slide
      height 100%
    .slick-arrow
      width 40px
      height 40px
      background #fff
      border none
      font-size 0
      position absolute
      top 50%
      margin-top -20px
      z-index 1
      &.slick-prev
        left 0
        @media SM
          left 5px
        &:after
          content ''
          background: url('../images/sprite.png') no-repeat -200px -50px;
          width: 12px;
          height: 20px;
          position absolute
          left 50%
          top 50%
          margin-left -6px
          margin-top -10px
          retina()
        &:hover
          &:after
            background-position -200px -100px
      &.slick-next
        right 0
        @media SM
          right 5px
        &:after
          content ''
          background: url('../images/sprite.png') no-repeat -250px -50px;
          width: 12px;
          height: 20px;
          position absolute
          left 50%
          top 50%
          margin-left -6px
          margin-top -10px
          retina()
        &:hover
          &:after
            background-position -250px -100px
    .image
      width 100%
      height 100%
      background-repeat no-repeat
      background-position 50%
      background-size cover
      display block