.m_lead-news
  .wrapper.space
    .section-title.border
      h2 Новости
      .details
        a(href="#") Все новости
    .columns
      -each post in leadNews
        .column
          .item(itemscope itemtype="http://schema.org/CreativeWork")
            .image: a(href="#"): img(src="#{post.image}" alt="" itemprop="image")
            .info
              .post-date(itemprop="dateCreated") #{post.date}
              .title: a(href="#" itemprop="headline") #{post.title}
              .desc(itemprop="description") #{post.description}