.m_help-hook
  background url("../images/pattern-1.png") repeat 0 0
  color #fff
  text-align center
  padding 45px 0
  &.full-inner
    position relative
    background none
    margin-top 30px
    margin-bottom 30px
    .bg
      background url("../images/pattern-1.png") repeat 0 0
      position absolute
      left 50%
      top 0
      height 100%
    .vertical-outer
      position relative
      z-index 1
  h2
    font-size 30px
    text-transform uppercase
    margin-bottom 15px
    @media MD
      float left
      width 260px
      text-align left
      margin-bottom 0
    @media LG
      font-size 36px
  p
    font-size 16px
    line-height 24px
    @media MD
      float left
      max-width 40%
      text-align left
      margin-bottom 0
    @media LG
      max-width 50%
      padding-left 70px
      padding-top 7px
  .action
    @media MD
      float right
      width 270px
      text-align right
    @media LG
      margin-top 14px
