.m_help-hook
  .wrapper
    .vertical-outer
      .vertical-inner
        h2 Нужна консультация?
        p: i Задайте нам свой вопрос и мы подробно расскажем о наших услугах, видах работ и типовых проектах, рассчитаем стоимость и подготовим индивидульное предложение!
        .action
          a(class="button-white" href="#") Задать вопрос